<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo.png"></ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <div class="div90" dir="rtl">

    <form [formGroup]="form" (submit)="submit()" style="margin-top: 20vh;">

      <ion-item>
        <ion-label stacked>אימייל</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <div class="green" *ngIf="!form.controls.email.hasError('required') && !form.controls.email.hasError('email')"><ion-icon name="checkmark"></ion-icon></div>
      </ion-item>

      <ion-item>
        <ion-label stacked>סיסמא</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <div class="green" *ngIf="!form.controls.password.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
      </ion-item>

      <div text-center>
        <button margin-vertical [disabled]="form.invalid" ion-button outline no-border no-margin color="primary" type="submit">שלח</button>
      </div>

    </form>

  </div>


</ion-content>
