<ion-header>

    <ion-navbar>
        <ion-title><img src="assets/imgs/logo.png"></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="div90">

        <form [formGroup]="form" (submit)="getLessons()">

            <ion-item>
                <ion-label fixed>אימייל</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
                <div class="green" *ngIf="!form.controls.email.hasError('required') && !form.controls.email.hasError('email')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>סיסמא</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
                <div class="green" *ngIf="!form.controls.password.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>שם</ion-label>
                <ion-input formControlName="name"></ion-input>
                <div class="green" *ngIf="!form.controls.name.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>טלפון</ion-label>
                <ion-input type="tel" formControlName="phone"></ion-input>
                <div class="green" *ngIf="!form.controls.phone.hasError('required') && form.controls.phone.valid"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>עיר</ion-label>
                <ion-input formControlName="city"></ion-input>
                <div class="green" *ngIf="!form.controls.city.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>כיתה</ion-label>
                <ion-select formControlName="grade">
                    <ion-option *ngFor="let grade of grades" value="{{grade}}">{{grade}}</ion-option>
                </ion-select>
                <div class="green" *ngIf="!form.controls.grade.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>רמת לימוד</ion-label>
                <ion-select formControlName="level">
                    <ion-option *ngFor="let level of levels" value="{{level}}">{{level}}</ion-option>
                </ion-select>
                <div class="green" *ngIf="!form.controls.level.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>שם בי"ס</ion-label>
                <ion-input formControlName="school_name"></ion-input>
                <div class="green" *ngIf="!form.controls.school_name.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>שם הורה</ion-label>
                <ion-input formControlName="parent_name"></ion-input>
                <div class="green" *ngIf="!form.controls.parent_name.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <ion-item>
                <ion-label fixed>טלפון הורה</ion-label>
                <ion-input type="tel" formControlName="parent_phone"></ion-input>
                <div class="green" *ngIf="!form.controls.parent_phone.hasError('required') && form.controls.parent_phone.valid"><ion-icon name="checkmark"></ion-icon></div>
            </ion-item>

            <div text-center>
                <button margin-vertical [disabled]="form.invalid" ion-button outline no-border no-margin color="primary" type="submit">שלח</button>
            </div>

        </form>


    </div>

</ion-content>
