page-profile {
  .green {
    position: absolute;
    top: 10px;
    left: 20px;

    ion-icon {
      color: green;
      font-size: 30px;
      font-weight: bold;
      z-index: 100;
    }
  }

  ion-item {
    direction: rtl !important;
    input {
      direction: rtl !important;
    }
    ion-select {
      width: 100%;
      max-width: 100%;
      direction: rtl !important;
      text-align: right;
    }
  }

  .wide-label ion-label[fixed]  {
    min-width: 120px !important;
  }
}
