<ion-header>

    <ion-navbar>
        <ion-title><img src="assets/imgs/logo.png"></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-row text-center style="padding-top: 20vh;">
        <ion-col col-12>
            <button ion-button (click)="goToLogin()">משתמש קיים</button>
        </ion-col>
    </ion-row>
    <ion-row text-center>
        <ion-col col-12>
            <button ion-button (click)="goToRegister()">משתמש חדש</button>
        </ion-col>
    </ion-row>
</ion-content>
