<ion-header>

    <ion-navbar>
        <ion-title><img src="assets/imgs/logo.png"></ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div margin-vertical dir="rtl" text-center *ngIf="lessons && lessons.length">
        <ion-row>
            <ion-col col-3>תאריך</ion-col>
            <ion-col col-3>התחלה</ion-col>
            <ion-col col-3>סיום</ion-col>
        </ion-row>
        <ion-row *ngFor="let lesson of lessons" align-items-center>
            <ion-col col-3>{{lesson.date}}</ion-col>
            <ion-col col-3>{{lesson.start}}</ion-col>
            <ion-col col-3>{{lesson.end}}</ion-col>
            <ion-col col-3>
                <button ion-button (click)="enroll(lesson)" *ngIf="lesson.status === 'available' && !lesson.enrolled">הרשם</button>
                <button ion-button *ngIf="lesson.status === 'full' && !lesson.enrolled">Full</button>
                <button ion-button color="danger" (click)="unenroll(lesson)"
                        *ngIf="lesson.status === 'available' && lesson.enrolled">בטל
                </button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
