<ion-header>

    <ion-navbar>
        <ion-title><img src="assets/imgs/logo.png"></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="div90">

        <form [formGroup]="form" (submit)="getLessons()">

            <ion-item>
                <ion-label fixed>סניף</ion-label>
                <ion-select (ionChange)="watchBranch()" formControlName="branch">
                    <ion-option value="">בחר סניף</ion-option>
                    <ion-option *ngFor="let branch of branches" value="{{branch.id}}">{{branch.title}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label fixed>מקצוע</ion-label>
                <ion-select [disabled]="!form.value.branch" formControlName="subject">
                    <ion-option value="">בחר מקצוע</ion-option>
                    <ion-option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.title}}
                        {{subject.level}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>תאריך</ion-label>
                <ion-datetime pickerFormat="DD/MMM/YYYY" min={{today}} displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
            </ion-item>

            <div text-center>
                <button margin-vertical [disabled]="form.invalid" ion-button outline no-border no-margin color="primary" type="submit">שלח</button>
            </div>

        </form>

        <div margin-vertical dir="rtl" text-center *ngIf="lessons && lessons.length">
            <ion-row>
                <ion-col col-3>תאריך</ion-col>
                <ion-col col-3>התחלה</ion-col>
                <ion-col col-3>סיום</ion-col>
            </ion-row>
            <ion-row *ngFor="let lesson of lessons" align-items-center>
                <ion-col col-3>{{lesson.date}}</ion-col>
                <ion-col col-3>{{lesson.start}}</ion-col>
                <ion-col col-3>{{lesson.end}}</ion-col>
                <ion-col col-3>
                    <button ion-button (click)="enroll(lesson)" *ngIf="lesson.status === 'available' && !lesson.enrolled">הרשם</button>
                    <button ion-button *ngIf="lesson.status === 'full' && !lesson.enrolled">Full</button>
                    <button ion-button color="danger" (click)="unenroll(lesson)" *ngIf="lesson.status === 'available' && lesson.enrolled">בטל</button>
                </ion-col>
            </ion-row>
        </div>

    </div>

</ion-content>
